In [65]:

import pandas as pd

nse_classi =pd.read_csv('nse-structure.csv')
nse_classi

                                                                                                                                                                                         Table 1
MES_Code Macro Economic\nSector Sect_Code Sector      Ind_Code Industry                   NaN Basic_Ind_Code Basic Industry      Definition                                         NaN      NaN
IN01     Commodities            IN0101    Chemicals   IN010101 Chemicals & Petrochemicals NaN IN010101001    Commodity Chemicals Manufacturers of basic and industrial chemicals... NaN      NaN
NaN      NaN                    NaN       NaN         NaN      NaN                        NaN IN010101002    Specialty Chemicals Manufacturers of chemicals used in the manufact... NaN      NaN
                                                                                              IN010101003    Carbon Black        Manufacturers of carbon black                      NaN      NaN
                                                                                              IN010101004    Dyes And Pigments   Manufacturer, supplier and distributor of dyes ... NaN      NaN
...                                                                                                                                                                                          ...
                                                                                              IN110201002    Waste\nManagement   Companies engaged into waste\nmanagement           NaN      NaN
                                                                                              IN110201003    Emergency Services  Companies engaged into providing emergency serv... NaN      NaN
                                                                                              IN110201004    Multi Utilities     Companies providing multiple lines of\nutilities   NaN      NaN
                                                                                              IN110201005    Other Utilities     Companies providing utilities not covered elsew... NaN      NaN
IN12     Diversified            IN1201    Diversified IN120101 Diversified                NaN IN120101001    Diversified         Companies engaged into multiple business segmen... NaN      NaN

[205 rows x 1 columns]

In [60]:
nse_classi_new = nse_classi.reset_index()

,index,level_0,level_1,level_2,level_3,level_4,level_5,level_6,level_7,level_8,level_9,level_10,Table 1
0,0,MES_Code,Macro Economic\nSector,Sect_Code,Sector,Ind_Code,Industry,NaN,Basic_Ind_Code,Basic Industry,Definition,NaN,NaN
1,1,IN01,Commodities,IN0101,Chemicals,IN010101,Chemicals & Petrochemicals,NaN,IN010101001,Commodity Chemicals,Manufacturers of basic and industrial chemical...,NaN,NaN
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IN010101002,Specialty Chemicals,Manufacturers of chemicals used in the manufac...,NaN,NaN
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IN010101003,Carbon Black,Manufacturers of carbon black,NaN,NaN
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IN010101004,Dyes And Pigments,"Manufacturer, supplier and distributor of dyes...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IN110201002,Waste\nManagement,Companies engaged into waste\nmanagement,NaN,NaN
201,201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IN110201003,Emergency Services,Companies engaged into providing emergency ser...,NaN,NaN
202,202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IN110201004,Multi Utilities,Companies providing multiple lines of\nutilities,NaN,NaN
203,203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IN110201005,Other Utilities,Companies providing utilities not covered else...,NaN,NaN
204,204,IN12,Diversified,IN1201,Diversified,IN120101,Diversified,NaN,IN120101001,Diversified,Companies engaged into multiple business segme...,NaN,NaN

In [63]:
# Or, create a new DataFrame without the first column using iloc
nse_classi_new = nse_classi_new.iloc[:, 1:]
nse_classi_new.reset_index(drop=True, inplace=True)
nse_classi_new

,level_1,level_2,level_3,level_4,level_5,level_6,level_7,level_8,level_9,level_10,Table 1
0,Macro Economic\nSector,Sect_Code,Sector,Ind_Code,Industry,NaN,Basic_Ind_Code,Basic Industry,Definition,NaN,NaN
1,Commodities,IN0101,Chemicals,IN010101,Chemicals & Petrochemicals,NaN,IN010101001,Commodity Chemicals,Manufacturers of basic and industrial chemical...,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,IN010101002,Specialty Chemicals,Manufacturers of chemicals used in the manufac...,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,IN010101003,Carbon Black,Manufacturers of carbon black,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,IN010101004,Dyes And Pigments,"Manufacturer, supplier and distributor of dyes...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
200,NaN,NaN,NaN,NaN,NaN,NaN,IN110201002,Waste\nManagement,Companies engaged into waste\nmanagement,NaN,NaN
201,NaN,NaN,NaN,NaN,NaN,NaN,IN110201003,Emergency Services,Companies engaged into providing emergency ser...,NaN,NaN
202,NaN,NaN,NaN,NaN,NaN,NaN,IN110201004,Multi Utilities,Companies providing multiple lines of\nutilities,NaN,NaN
203,NaN,NaN,NaN,NaN,NaN,NaN,IN110201005,Other Utilities,Companies providing utilities not covered else...,NaN,NaN
204,Diversified,IN1201,Diversified,IN120101,Diversified,NaN,IN120101001,Diversified,Companies engaged into multiple business segme...,NaN,NaN

In [ ]:
columns = ['MES_Code','MES','Sect_Code','Sector','Ind_Code','Industry','Basic_Ind_Code','Basic Industry','Definition','Sub Sector','Industry Group','Sub Industry']

no_of_basic_industries  = len(nse_classi['Basic Industry'].unique())
no_of_industries = len(nse_classi['Industry'].unique())
no_of_sectors = len(nse_classi['Sector'].unique())
no_of_sub_sectors = len(nse_classi['Sub Sector'].unique())
no_of_mes = len(nse_classi['Macro Economic\nSector'].unique())

In [ ]:

for i in range(0,len(nse_classi)):
    a_row = nse_classi.iloc[i]

    code = a_row['level_7']
    

    #pickup the code from the row

    code = a_row['level_7']
    # Split the code into parts

    mes_code = code[:4]
    sect_code =code[:6]
    ind_code = code
    
    a_row['MES_Code'] = mes_code
    a_row['Sect_Code'] = sect_code
    a_row['Ind_Code'] = ind_code

In [ ]:
type(nse_classi.loc[2])
a_row= nse_classi.loc[2]
type(a_row['level_7'])
code = a_row['level_7']
mes_code = code[:4]
code[:6]
code[:8]
len(code)

In [ ]:
nse_classi.apply(parse_codes, axis=1)

In [ ]:
nse_classi